.loader {
  width: 93vw;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__svg {
    width: 500px;
  }

  &__text {
    color: white;
    font-weight: 300;
    
  }
}
