@use '../../Globals.scss';

.container__menu {
  min-height: 100vh;
  display: flex;
}

.container__platillo {
  display: flex;
  flex-direction: column;
}

.bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: Globals.$color-bar;
  width: 8%;

  &__btns--opc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 60%;
    position: fixed;
  }

  &__btn--add {
    width: 100px;
    position: fixed;
    top: 0;
  }

  &__btn--log {
    position: fixed;
    bottom: 0;
    margin-bottom: 18px;
  }
}

.input__group {
  color: Globals.$color-white;
}

.menu__title--text {
  color: Globals.$color-white;
  margin: 20px 0;
  font-size: 48px;
  text-align: center;
  width: 87vw;
}

.menu__title {
  color: Globals.$color-white;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  margin: 20px 30px;
}

.menu__employeName {
  display: flex;
  flex-direction: row;
  p {
    margin: 0 15px;
  }
}
.menu__platillos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  row-gap: 98px;
  width: 90vw;
  margin: 88px 10px;
}

.menu__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* margin: 0px 26px; */
  padding: 0 26px;
  width: 92vw;
  color: #ffffff;
  position: fixed;
  z-index: 2;
  background-color: rgba(31, 29, 43, 0.94);

  &--employe {
    font-size: 16px;
  }

  &--date {
    font-size: 14px;
    margin: 10px 0;
  }

  &--forms {
    font-weight: 600;
  }
}

.input__group {
  margin: 10px 0;
}

.inputs__group {
  margin: 10px 0;
  color: Globals.$color-white;

  &--input {
    font-size: 16px;
    background-color: transparent;
    margin: 0 25px;
    border-bottom: Globals.$color-bar;
    border: none;
    color: Globals.$color-white;
    border-bottom: 2px solid #ffffff;
  }
  &--options {
    background-color: transparent;
    color: white;
    padding: 7px;
    border: none;
    border-bottom: 3px solid white;
    width: 192px;
    margin: 0 49px;
    font-size: 16px;
  }
}

.options__opt {
  color: Globals.$color-white;
  background-color: Globals.$color-fondo;
}

.img {
  width: 237px;
  height: 128px;
  position: absolute;
  /* right: 0; */
  left: 50%;
  bottom: 132px;
  transform: translateX(-50%);
}

.btn__group {
  margin: 10px 0;

  &--button {
    width: 150px;
    height: 30px;
    border: none;
    color: Globals.$color-white;
    font-weight: 600;
    background-color: Globals.$color-principal;
  }

  &--button:active {
    background-color: #b13b38;
  }
}

.btn__container {
  width: 86vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0;
}

.platillos__menu {
  position: absolute;
  top: 336px;
  z-index: 1;
}

.menu__cart {
  position: absolute;
  right: 0;
  position: fixed;
  z-index: 4;
}
