@use '../../../Globals.scss';

.btn__title {
  color: Globals.$color-white;
  font-size: 12px;
}

.btn__agregar {
  align-items: center;
  background-color: transparent;
  border-style: none;
  display: flex;
  flex-direction: row-reverse;
  height: 40px;
  margin: 0 10px;
  width: 182px;
}
