@use '../../Globals.scss';

.container__form {
  background-color: rgba(31, 29, 43, 0.94);
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: flex-end;
}

.btn__close {
  background-color: transparent;
  border-style: none;
  align-self: flex-start;
  margin: 0 24px;
}

.form {
  width: 85%;
  margin: 0 auto;
  &__title {
    margin: 15px 0 60px 0;
    font-size: 32px;
    text-align: center;
  }
}

.form__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.group {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 24px;

  &__label {
    margin: 10px 15px;
    width: 20%;
    text-align: left;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.5px;

    &--image {
      padding: 8px 24px;
      margin-right: 20px;
      border-radius: 6px;
      border: 1px solid Globals.$color-principal;
      color: Globals.$color-white;
      font-size: 15px;
      font-weight: 600;
      align-self: center;
    }
  }

  &__input {
    width: 70%;
    border-radius: 25px;
    padding: 10px 25px;
    border: none;

    &--price {
      max-width: 140px;
    }

    &--image {
      opacity: 0;
      pointer-events: none;
      position: absolute;
      z-index: -1;
    }
  }

  &--radio {
    margin: 0 14px;
  }

  &--image {
    font-size: 14px;
    img {
      max-height: 50px;
    }
  }
}

.group__group--radio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 72%;
}

.radio__label {
  font-size: 12px;
  font-size: 12px;
  margin: 0 1px;
}

.btn--register {
  width: 44%;
  padding: 15px;
  border-radius: none;
  border: none;
  background-color: Globals.$color-principal;
  color: Globals.$color-white;
  font-size: 15px;
  font-weight: 600;
  align-self: center;
  margin: 20px 0;
}
