@use '../../Globals.scss';

.container__home {
  color: Globals.$color-white;
  min-height: 100vh;
  display: flex;
}

.container__resume {
  position: absolute;
  right: 0;
  position: fixed;
  z-index: 2;
}

.orders {
  width: 92vw;
  &__title {
    color: Globals.$color-white;
    margin: 50px 0;
    font-size: Globals.$title;
    text-align: center;
  }

  &__employe {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 90vw;
  }
}
