@use '../../Globals.scss';

.container__home {
  display: flex;
  min-height: 100vh;
}

.bar {
  background-color: #1f1d2b;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 8%;

  &__btn--log {
    bottom: 0;
    margin-bottom: 18px;
    position: fixed;
  }

  &__btns--opciones {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
  }
}

.dashboard__home {
  background: Globals.$color-fondo;
  height: auto;
  position: relative;
  width: 100%;

  &--title {
    color: Globals.$color-white;
    font-size: 48px;
    margin: 70px 0;
    text-align: center;
  }

  &--opciones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.opcion {
  width: 20%;
  margin: 25px 0;
  background: Globals.$color-bar;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  padding-bottom: 24px;
  border: none;

  &__text {
    color: Globals.$color-white;
  }
}
